*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]

{% if ext is defined %}
# EXTERNAL - Allow traffic to tcp ports 22,53,80,443,8773 and udp 53 from DixonsCPW
-A INPUT -s 195.153.6.160/30 -p tcp -m state --state NEW -m tcp --dport 22 -j ACCEPT
-A INPUT -s 195.153.6.160/30 -p tcp -m state --state NEW -m tcp --dport 80 -j ACCEPT
-A INPUT -s 195.153.6.160/30 -p tcp -m state --state NEW -m tcp --dport 443 -j ACCEPT
-A INPUT -s 195.153.6.160/30 -p tcp -m state --state NEW -m tcp --dport 8773 -j ACCEPT
# EXTERNAL - Allow traffic to tcp/udp port 53 to internet (DNS resolution)
-A INPUT -p tcp --dport 53 -j ACCEPT
-A INPUT -p udp --dport 53 -j ACCEPT
# EXTERNAL - Allow external access from SoftLayer public range
-A INPUT -s 169.45.156.192/28 -j ACCEPT
{% endif %}

# INTERNAL - Allow all internal subnet traffic
-A INPUT -s 10.143.58.0/24 -p tcp -m state --state NEW,ESTABLISHED -m tcp --dport 22 -j ACCEPT
-A INPUT -s 10.143.58.0/24 -j ACCEPT

# Other
-A INPUT -s 127.0.0.0/8 -d 127.0.0.0/8 -i lo -j ACCEPT
-A INPUT -p icmp -j ACCEPT
-A INPUT -p udp -m udp --dport 33434:33523 -j REJECT --reject-with icmp-port-unreachable
-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT
-A INPUT -j REJECT --reject-with icmp-host-prohibited
-A FORWARD -j REJECT --reject-with icmp-host-prohibited
COMMIT
